@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

.App {
  background-color: hsl(222, 26%, 31%);
  font-family: "League Spartan", sans-serif;
}

.App2 {
  background-color: hsl(0, 0%, 90%);
  font-family: "League Spartan", sans-serif;
}

.App3 {
  background-color: hsl(268, 75%, 9%);
  font-family: "League Spartan", sans-serif;
}

.text2{
  color: hsl(60, 10%, 19%);
}

.text3{
  color: hsl(52, 100%, 62%);
}

.theme-text {
  font-size: 10px;
}

.screen {
  background-color: hsl(224, 36%, 15%);
}

.screen2 {
  background-color: hsl(0, 0%, 93%);
}

.screen3 {
  background-color: hsl(268, 71%, 12%);
}

.numpad{
    background-color: hsl(223, 31%, 20%);
}

.numpad2{
    background-color: hsl(0, 5%, 81%);
}

.numpad3{
    background-color: hsl(268, 71%, 12%);
}

.num-btn{
    background-color: hsl(0, 0%, 90%);
    margin: 10px;
    padding-top: 6px;
    color: hsl(221, 14%, 31%);
    border-radius: 7px;
    font-size: 30px;
    box-shadow: 0 3px 1px #7b7578;
}

.num-btn2{
    background-color: hsl(268, 47%, 21%);
    margin: 10px;
    padding-top: 6px;
    color: hsl(52, 100%, 62%);
    border-radius: 7px;
    font-size: 30px;
    box-shadow: 0 3px 1px hsl(290, 70%, 36%);
}

.dark-red{
  background-color: #f96c5b;
  box-shadow: 0 3px 1px hsl(6, 70%, 34%);
  color: white;
  font-size: 23px;
  padding: 5px 0;
}

.dark-red2{
  background-color: hsl(25, 98%, 40%);
  box-shadow: 0 3px 1px hsl(25, 99%, 27%);
  color: white;
  font-size: 23px;
  padding: 5px 0;
}

.purple2{
  background-color: hsl(176, 100%, 44%);
  box-shadow: 0 3px 1px hsl(177, 92%, 70%);
  color: hsl(198, 20%, 13%);
  font-size: 23px;
  padding: 5px 0;
}

.dark-cyan{
  background-color: #a2b3e1;
  box-shadow: 0 3px 1px hsl(224, 28%, 35%);
  color: white;
  font-size: 23px;
}

.dark-cyan2{
  background-color: hsl(185, 42%, 37%);
  box-shadow: 0 3px 1px hsl(224, 28%, 35%);
  color: white;
  font-size: 23px;
}

.purple{
  background-color: hsl(281, 89%, 26%);
  box-shadow: 0 3px 1px hsl(285, 91%, 52%);
  color: white;
  font-size: 23px;
}

.toggle{
  background-color: #f96c5b;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 3px 4px;
  transition: 0.3s ease-in-out;
}

.toggle2{
  background-color: hsl(25, 98%, 40%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 3px 4px;
  margin-left: 22px;
  transition: 0.3s ease-in-out;
}

.toggle3{
  background-color: hsl(176, 100%, 44%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 3px 4px;
  margin-left: 40px;
  transition: 0.3s ease-in-out;
}

.theme-num span{
  padding-right: 13px;
  font-size: 10px;
}

.center-items{
  width: 30%;
}

.attribution{
  position: absolute;
  bottom: 0;
  font-size: 10px;
  font-weight: 1;
}

@media only screen and (max-width: 600px){
  .center-items{
    width: 90%;
  }
}